.cover__subtitle {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    /* or 114% */
  }
}
