.footer__links {
  display: flex;
  max-width: 1184px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 620px) {
  /* стили для широкого смартфона */
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
