.footer__copyright {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  align-self: end;
  text-align: end;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 620px) {
  /* стили для планшета */
  .footer__copyright {
    margin-left: 16px;
    text-align: start;
  }
}
