.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}