.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaaaaa;
  padding: 0;
  margin-top:0;
}
