.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin-left: 16px;
  }
}
